<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>文章列表</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap/bootstrap.min.css" rel="stylesheet">

  </head>

<body>
    <% include include/head.ejs %>
    <div class="container">
        <h3 id="tables-bordered">文章列表</h3>
        <div class="" data-example-id="bordered-table">
            <table class="table table-bordered">
            
                <tbody>
                <% for(var i=0 ; i<articles.length ; i++){ %>
                    <tr>
                    
                        <td><%=articles[i].title%></td>
                        <td>
                            <a href="/articlelist/<%=articles[i]._id%>">查看</a>
                        </td>
                    
                    </tr> 
                <% } %>           
                </tbody>
            </table>
        </div>
    </div>
    <script src="/javascripts/jquery.min1.8.3.js"></script>

</body>
</html>